 <!-- !PAGE CONTENT! -->
 <div class="w3-main" style="margin-left:300px;">
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:70px"></div>

  <!-- Header -->
  <header class="w3-container">
    <h3 id="title">{{title}}</h3>
    <div id="time">
        {{start_time[1]}} {{start_period}} - {{end_time[1]}} {{end_period}}
    </div>
    <hr>
  </header>

  <!-- BEFORE VIEWER -->
  <section id="beforeStreaming" style="display: block;">
      <div class="w3-container">
        <div class="w3-row">
          <div class="w3-col m12">
            <div id="status"><font color="gray">การถ่ายทอดสดสิ้นสุดแล้ว</font></div>
            <div>
              <i class="fa fa-check"></i> ภาพเคลื่อนไหวเสียงและคำบรรยาย
            </div>
            <button class="w3-button w3-ripple w3-red w3-hover-black" id="startViewer">เข้าชมตอนนี้</button>
          </div>
        </div>
        <hr>
      </div>
    </section>

  <!-- FOR START VIEWER -->
  <section id="liveContainer" style="display: none;">
      <div class="w3-display-topleft" id="statusStreaming" style="display: none;"></div>
      <div class="w3-display-topleft" id="views"></div>
      <div class="w3-display-topright">
        <button class="btn btn-info" id="muteVolume">ปิดเสียง</button>
        <button class="btn btn-info" id="unmuteVolume">เปิดเสียง</button>
        <button class="btn btn-danger" id="terminateViewer" style="display: none;">สิ้นสุด</button>
      </div>

      <div class="w3-display-topmiddle" id="optionVideoMode" style="display: none;">
        <div class="w3-row">
          <select class="w3-hide-small" id="viewerMode2">
            <option value="video-text">ภาพเคลื่อนไหวเสียงและคำบรรยาย</option>
            <option value="text-only">คำบรรยาย</option>
          </select>
          <input class="w3-hide-small" id="inputFont2" type="text" size="1" maxlength="3" list="size">
          <button class="w3-hide-small" id="incFont2">A+</button>
          <button class="w3-hide-small" id="decFont2">A-</button>
          <i class="fa fa-arrows-alt fa-lg" id="fullScreen" aria-hidden="true"></i>
          <i class="fa fa-compress fa-lg" id="exitFullScreen" aria-hidden="true"></i>
        </div>
      </div>
      <!-- <video id="video" autoplay controls muted></video> -->
      <video id="video" autoplay="true" playsinline="true"></video>
      <div class="captioned-default captioned-line-2 captioned-width-70" id="captioned" style="font-size: 30px;"></div>
    </section>

  <!-- OPTIONS MODE -->
  <div id="options">
    <div class="w3-row">
      <i id="btnSaveText" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
      <select id="settingCaptionedLine">
        <option value="">จำนวนบรรทัดคำบรรยาย</option>
        <option value="2">2 บรรทัด</option>
        <option value="3">3 บรรทัด</option>
      </select>
      <select id="settingCaptionedWidth">
        <option value="">ความยาวของคำบรรยาย</option>
        <option value="70">70% ของจอ</option>
        <option value="100">100% ของจอ</option>
      </select>
      <select id="viewerMode">
        <option value="video-text">ภาพเคลื่อนไหวเสียงและคำบรรยาย</option>
        <option value="text-only">คำบรรยาย</option>
      </select>
      <select id="changeFontFamily">
        <option value="FreesiaUPC">FreesiaUPC</option>
        <option value="THNiramitAS">Th Niramit AS</option>
        <option value="AngsanaNew">Angsana New</option>
        <option value="CordiaNew">Cordia New</option>
      </select>
      <button id="fontColorPicker" class="jscolor {valueElement:null,value: '000000', onFineChange:'setFontColor(this)'}">A</button>
      <button id="backgroundColorPicker" class="jscolor {valueElement:null,value: '000000', onFineChange:'setBackgroundColor(this)'}">&nbsp;&nbsp;</button>
      <input id="inputFont" type="text" maxlength="3" list="size" size="1">
      <datalist id="size">
        <option value="10"></option>
        <option value="16"></option>
        <option value="18"></option>
        <option value="22"></option>
        <option value="24"></option>
        <option value="26"></option>
        <option value="28"></option>
        <option value="36"></option>
        <option value="48"></option>
        <option value="72"></option>
        <option value="84"></option>
        <option value="96"></option>
        <option value="100"></option>
      </datalist>
      <button id="incFont">A+</button>
      <button id="decFont">A-</button>
    </div>
  </div>
  <!-- Description -->
  <div id="description" class="w3-container">{{description}}</div>
  <!-- print log error -->
  <div id="errorLog" class="w3-container"></div>
</div>