/* Modal setting */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2147483647;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto !important;
}

/* Modal Content */

.modal_content {
    background-color: #fff;
    border: 1px solid #888;
    width: 100%;
    /* height: 100%; */
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_header {
    padding: 2px 16px;
    background-color: #FCFCFC;
    color: black;
}
.gallery_button {
    background: #FFFFFF;
    width: 25%;
    height: 40px;
    position: fixed;
    bottom: 3%;
    left: 3%;
}
.gallery_button1 {
    background: #FFFFFF;
    width: 25%;
    height: 40px;
    position: fixed;
    bottom: 3%;
    left: 29%;
}
.gallery_button2 {
    background: #FFFFFF;
    height: 40px;
    width: 35%;
    position: fixed;
    bottom: 3%;
    left: 55%;
}

/* responsesive screen */

@media screen and (min-width: 360px) and (max-width: 599px) {
    .w3-sidenav {
        display: none;
        width: 100% !important;
    }
    .w3-top {
        top: 0;
    }
    .w3-large {
        font-size: 18px !important;
    }

    #m_viewerMode {
        display: none;
    }
    #m_btnSaveText {
        /* display: none; */
    }
    #m_changeFontFamily {
        display: none;
    }
    #set_font_color {
        display: none;
    }
    #set_background_color {
        display: none;
    }
    #m_size {
        display: none;
    }
    #input-font {
        display: none;
    }
    #m_incFont {
        float: left;
        height: 40px;
        width: 20%;
        margin-right: 0.5%;
    }
    #m_decFont {
        height: 40px;
        float: left;
        width: 20%;
    }
    #choice {
        display: block !important;
        height: 40px;
        float: right;
        width: 59%;
    }
    #size-font-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 60%;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }
    #AA-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 20%;
    }
    #A-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 20%;
    }
    .gallery-button {
        background: #FFFFFF;
        width: 25%;
        height: 40px;
        position: fixed;
        bottom: 3%;
        left: 3%;
    }
    .gallery-button1 {
        background: #FFFFFF;
        width: 25%;
        height: 40px;
        position: fixed;
        bottom: 3%;
        left: 29%;
    }
    .gallery-button2 {
        background: #FFFFFF;
        height: 40px;
        width: 35%;
        position: fixed;
        bottom: 3%;
        left: 55%;
    }
    #watch-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 16px;
        padding: 10px;
    }
    #font-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 16px;
        padding: 10px;
    }
    #font-color-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 16px;
        padding: 10px;
    }
    #bgcolor-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 16px;
        padding: 10px;
    }
    #set_font_color-m {
        float: right;
        margin-right: 10px;
        width: 15%;
    }
    #set_background_color-m {
        float: right;
        margin-right: 10px;
        width: 15%;
    }
    #viewer-mode-m {
        float: right;
        width: 70%;
        height: 40px;
    }
    #change-font-family-m {
        float: right;
        margin-right: 10px;
        height: 40px;
    }
    .ex-m {
        font-size: 20px;
        background-color: #000000;
        color: white;
        padding: 30px;
        text-align: center;
    }
    #pre_header_page {
        display: none;
    }
    #header {
        display: none;
    }
    #closemenu {
        display: none;
    }
    #showmenu {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .w3-sidenav {
        display: none;
        width: 100% !important;
    }
    .w3-top {
        top: 0;
    }
    .w3-large {
        font-size: 18px !important;
    }

    #m_viewerMode {
        display: none;
    }
    #m_btnSaveText {
        /* display: none; */
    }
    #m_changeFontFamily {
        display: none;
    }
    #set_font_color {
        display: none;
    }
    #set_background_color {
        display: none;
    }
    #m_size {
        display: none;
    }
    #m_inputFont {
        display: none;
    }
    #m_incFont {
        float: left;
        height: 40px;
        width: 20%;
        margin-right: 0.5%;
    }
    #m_decFont {
        height: 40px;
        float: left;
        width: 20%;
    }
    #choice {
        display: block !important;
        height: 40px;
        float: right;
        width: 59%;
    }
    #size-font-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 60%;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }
    #AA-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 20%;
    }
    #A-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 20%;
    }
    .gallery-button {
        background: #FFFFFF;
        width: 20%;
        height: 40px;
        position: fixed;
        bottom: 3%;
        left: 3%;
    }
    .gallery-button1 {
        background: #FFFFFF;
        width: 20%;
        height: 40px;
        position: fixed;
        bottom: 3%;
        left: 24%;
    }
    .gallery-button2 {
        background: #FFFFFF;
        height: 40px;
        width: 45%;
        position: fixed;
        bottom: 3%;
        left: 45%;
    }
    #watch-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 30%;
        font-size: 16px;
        padding: 10px;
    }
    #font-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 30%;
        font-size: 16px;
        padding: 10px;
    }
    #font-color-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 30%;
        font-size: 16px;
        padding: 10px;
    }
    #bgcolor-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 30%;
        font-size: 16px;
        padding: 10px;
    }
    #set_font_color-m {
        float: right;
        margin-right: 10px;
        width: 15%;
    }
    #set_background_color-m {
        float: right;
        margin-right: 10px;
        width: 15%;
    }
    #viewer-mode-m {
        height: 40px;
        width: 70%;
        float: right;
    }
    #change-font-family-m {
        float: right;
        margin-right: 10px;
        height: 40px;
    }
    .ex-m {
        font-size: 20px;
        background-color: #000000;
        color: white;
        padding: 30px;
        text-align: center;
    }
    #ex-font-m {
        font-size: 28px;
    }
    #pre_header_page {
        display: none;
    }
    #header {
        display: none;
    }
    #closemenu {
        display: none;
    }
    #showmenu {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1367px) {
    .w3-sidenav {
        display: none;
        width: 100% !important;
    }
    .w3-large {
        font-size: 24px !important;
    }
    a {
        font-size: 30px !important;
    }
    font {
        font-size: 20px !important;
    }
    #m_viewerMode {
        display: none;
    }
    #m_btnSaveText {
        /* display: none; */
    }
    #m_changeFontFamily {
        display: none;
    }
    #set_font_color {
        display: none;
    }
    #set_background_color {
        display: none;
    }
    #m_size {
        display: none;
    }
    #input-font {
        display: none;
    }
    #m_incFont {
        float: left;
        height: 40px;
        width: 20%;
        margin-right: 0.5%;
    }
    #m_decFont {
        height: 40px;
        float: left;
        width: 20%;
    }
    #choice {
        display: block !important;
        height: 40px;
        float: right;
        width: 59%;
    }
    #size-font-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 60%;
        font-size: 24px;
        padding: 10px;
        text-align: center;
    }
    #AA-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 20%;
    }
    #A-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 20%;
    }
    .gallery-button {
        background: #FFFFFF;
        width: 25%;
        height: 40px;
        position: fixed;
        bottom: 3%;
        left: 3%;
    }
    .gallery-button1 {
        background: #FFFFFF;
        width: 25%;
        height: 40px;
        position: fixed;
        bottom: 3%;
        left: 29%;
    }
    .gallery-button2 {
        background: #FFFFFF;
        height: 40px;
        width: 35%;
        position: fixed;
        bottom: 3%;
        left: 55%;
    }
    #watch-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 24px;
        padding: 10px;
    }
    #font-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 24px;
        padding: 10px;
    }
    #font-color-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 24px;
        padding: 10px;
    }
    #bgcolor-m {
        background: #FFFFFF;
        height: 40px;
        float: left;
        width: 25%;
        font-size: 24px;
        padding: 10px;
    }
    #set_font_color-m {
        float: right;
        margin-right: 10px;
        width: 15%;
    }
    #set_background_color-m {
        float: right;
        margin-right: 10px;
        width: 15%;
    }
    #viewer-mode-m {
        float: right;
        height: 45px;
    }
    #change-font-family-m {
        float: right;
        margin-right: 10px;
        height: 40px;
    }
    .ex-m {
        font-size: 20px;
        background-color: #000000;
        color: white;
        padding: 30px;
        text-align: center;
    }
    #pre_header_page {
        display: none;
    }
    #header {
        display: none;
    }
    #closemenu {
        display: none;
    }
    #showmenu {
        display: none;
    }
}

