<!-- !PAGE CONTENT! -->
<div class="w3-main" [style.margin-left]="margin">
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" [style.margin-top]="topMargin"></div>

  <!-- Header -->
  <header class="w3-container">
    <h3 id="title">{{title}}</h3>
    <div id="time">
      {{Tstart}} - {{Tend}} 
    </div>
    <div *ngIf="isMobile" style="right: 0px;"><a href="index.html">Back</a></div>
    <hr>
  </header>

  <!-- BEFORE VIEWER -->
  <section id="beforeStreaming" [ngClass]="beforeStreaming">
    <div class="w3-container">
      <div class="w3-row">
        <div class="w3-col m12">
          <div id="status">
            <font [style.color]="statusColor">{{status}} {{timeStatus}}</font>
          </div>
          <div>
            <i class="fa fa-check"></i> ภาพเคลื่อนไหวเสียงและคำบรรยาย
          </div>
          <button class="w3-button w3-ripple w3-red w3-hover-black" id="startViewer"
            (click)="viewerStart()">เข้าชมตอนนี้</button>
        </div>
      </div>
      <hr>
    </div>
  </section>
  
  <!-- FOR START VIEWER WEB-->
  <section #fullScreen id="liveContainer" [ngClass]="this.liveContainer" (mouseenter)='enter()'(mouseleave)='leave()'>
    <div class="w3-display-topleft" id="statusStreaming" [ngClass]="this.statusStreaming"></div>
    <div class="w3-display-topleft" id="views"></div>
    <div class="w3-display-topright">
      <button class="btn btn-info" id="muteVolume" >ปิดเสียง</button>
      <button class="btn btn-info" id="unmuteVolume" >เปิดเสียง</button>
      <button class="btn btn-danger" id="terminateViewer" [ngClass]="this.terminateViewer"
        (click)="viewerStop();exitFullScreen()">สิ้นสุด</button>
    </div>

    <div class="w3-display-bottomright">
      <div class="w3-row">
    <!--    <i class="fa fa-compress fa-lg" id="exitFullScreen" [ngClass]="exitFullscreen" (click)="exitFullScreen()"></i>
        <i class="fa fa-arrows-alt fa-lg" id="fullScreen" [ngClass]="full" (click)="toFullScreen()"></i>
        -->
        <div id="options" [ngClass]="this.options">
          <app-options></app-options> 
             
          
          
        </div>
      </div>

    </div>


    <video id="video" [ngClass]="[this.optionService.video,this.optionService.fullscreenHeight]" playsinline="true"
      [style.background]="this.optionService.bgColor"
      src="../../../assets/video/Ace Combat Infinity - History Lessons.webm"></video>
    <video id="videoTextOnly" [ngClass]="[this.optionService.videoTextOnly,this.optionService.fullscreenHeight]"
      playsinline="true" [style.background]="this.optionService.bgColor"></video>

    <div class="captioned-default "
      [ngClass]="[this.optionService.classCaptionedLine,this.optionService.classCaptionedWidth]" id="captioned"
      [style.color]="this.optionService.color" [style.background]="this.optionService.captionBG"
      [style.font-size.px]="this.optionService.size" [style.font-family]="this.optionService.fontStyle">{{caption}}</div>
  </section>


 


  <!-- Description -->

  <div id="description" class="w3-container">{{description}}</div>


  <!-- print log error -->
  <div id="errorLog" class="w3-container"></div>


</div>
