
 <!-- !PAGE CONTENT! -->
 <div  class="w3-main"  [style.margin-left]="margin">
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" [style.margin-top]="top_margin"></div>

  <!-- Header -->
  <header class="w3-container">
    <h3 id="title">{{title}}</h3>
    <div id="time">
        {{Tstart}} {{start_period}} - {{Tend}} {{end_period}}
    </div>
    <div *ngIf="isMobile" style="float: right"><a  href="index.html">Back</a></div>
    <hr>
  </header>

  <!-- BEFORE VIEWER -->
  <section id="beforeStreaming" style="display: block;">
      <div class="w3-container">
        <div class="w3-row">
          <div class="w3-col m12">
            <div id="status"><font [style.color]="status_color">{{status}}</font></div>
            <div>
              <i class="fa fa-check"></i> ภาพเคลื่อนไหวเสียงและคำบรรยาย
            </div>
            <button class="w3-button w3-ripple w3-red w3-hover-black" id="startViewer" (click)="viewer_start(isMobile)">เข้าชมตอนนี้</button>
          </div>
        </div>
        <hr>
      </div>
    </section>

  <!-- FOR START VIEWER WEB-->
  <section  #fullScreen id="liveContainer" style="display: none;" on-mousemove='over()'>
      <div class="w3-display-topleft" id="statusStreaming" style="display: none;"></div>
      <div class="w3-display-topleft" id="views"></div>
      <div class="w3-display-topright">
        <button class="btn btn-info" id="muteVolume" (click)="mute()" >ปิดเสียง</button>
        <button class="btn btn-info" id="unmuteVolume" (click)="unMute()">เปิดเสียง</button>
        <button class="btn btn-danger" id="terminateViewer" style="display: none;" (click)="viewer_stop();exitFullScreen()">สิ้นสุด</button>
      </div>

      <div class="w3-display-topmiddle" id="optionVideoMode" style="display: none;">
        <div class="w3-row">
          <select class="w3-hide-small" id="viewerMode2" style="display: none;" [(ngModel)]="mode" (ngModelChange)="setMode(mode)">
            <option value="video-text">ภาพเคลื่อนไหวเสียงและคำบรรยาย</option>
            <option value="text-only">คำบรรยาย</option>
          </select>
          <input class="w3-hide-small" id="inputFont2" type="text" size="1" maxlength="3" list="size" style="display: none;" [(ngModel)]="size"> 
          <button class="w3-hide-small" id="incFont2" (click)="toIntPlus(size,1)" style="display: none;">A+</button>
          <button class="w3-hide-small" id="decFont2" (click)="toIntMinus(size,1)" style="display: none;">A-</button>
          <i class="fa fa-arrows-alt fa-lg" id="fullScreen"  (click)="toFullScreen()"  style="display: inline;"></i>
          <i class="fa fa-compress fa-lg" id="exitFullScreen" (click)="exitFullScreen()" style="display: none;" ></i>
        </div>
      </div>
      <!-- <video id="video" autoplay controls muted></video> -->
      <video  id="video"  playsinline="true" [style.background]="bgcolor" src="../../../assets/video/Ace Combat Infinity - History Lessons.mp4"></video>
      <video  id="video2" playsinline="true" [style.background]="bgcolor"></video>
      
      <div class="captioned-default " [ngClass]="[captioned_line,captioned_width]" id="captioned" [style.color]="color" [style.background]="caption_bg" [style.font-size.px]="size" [style.font-family]="fontStyle">Hello world สวัสดีโลก ---------------------------------------------------------------------------------------</div>
    </section>
   
  <!-- OPTIONS MODE WEB-->
  <div id="options"  style="display: none;">
    <div class="w3-row">
      <i class="fa fa-floppy-o fa-lg" id="btnSaveText" aria-hidden="true"></i>
      <select id="settingCaptionedLine" [(ngModel)]="CaptionedLine" (ngModelChange)="setCaptionedLine(CaptionedLine)">
        <option value="">จำนวนบรรทัดคำบรรยาย</option>
        <option value="2">2 บรรทัด</option>
        <option value="3">3 บรรทัด</option>
      </select>
      <select id="settingCaptionedWidth" [(ngModel)]="CaptionedWidth" (ngModelChange)="setWidth(CaptionedWidth)">
        <option value="">ความยาวของคำบรรยาย</option>
        <option value="70">70% ของจอ</option>
        <option value="100">100% ของจอ</option>
      </select>
      <select id="viewerMode" [(ngModel)]="mode" (ngModelChange)="setMode(mode)">
        <option value="video-text">ภาพเคลื่อนไหวเสียงและคำบรรยาย</option>
        <option value="text-only">คำบรรยาย</option>
      </select>
      <select id="changeFontFamily" [(ngModel)]="font" (ngModelChange)="setFont(font)" > 
        <option value="FreesiaUPC">FreesiaUPC</option>
        <option value="THNiramitAS">Th Niramit AS</option>
        <option value="AngsanaNew">Angsana New</option>
        <option value="CordiaNew">Cordia New</option>
      </select>
      <button [(colorPicker)]="color" [style.background]="color" [cpDisableInput]=true [cpSaveClickOutside] [cpPosition]="'left'" [cpPositionOffset]="'100%'" style="background: rgb(255, 255, 255);">A</button>
      <button [(colorPicker)]="caption_bg" [style.background]="caption_bg" [cpDisableInput]=true [cpSaveClickOutside] [cpPosition]="'left'" [cpPositionOffset]="'100%'" style="background: rgb(0, 0, 0);">C</button>
      
      <button [(colorPicker)]="bgcolor" [style.background]="bgcolor" [cpDisableInput]=true [cpSaveClickOutside] [cpPosition]="'left'" [cpPositionOffset]="'100%'" style="background: rgb(0, 0, 0);">&nbsp;&nbsp;</button>
      <input id="inputFont" type="text" size="1" maxlength="3" list="size" [(ngModel)]="size">
      <datalist id="size">
        <option *ngFor="let size of atextSize" value="{{size}}"></option>
      </datalist>
      <button id="incFont" (click)="toIntPlus(size,1)">A+</button>
      <button id="decFont" (click)="toIntMinus(size,1)">A-</button>
    </div>
  </div>

<!-- FOR START VIEWER MOBILE-->

 <section  #fullScreen id="m_liveContainer" style="width: 100%; height: 100%; position: relative; background-color: rgb(0, 0, 0); display: none;"  on-mousemove='over()'>
      <div class="w3-display-topleft" id="statusStreaming" style="padding: 2px 6px 0px; color: white; display: none; z-index: 1; background-color: rgba(217, 83, 79, 1);"></div>
      <div class="w3-display-topright" style="z-index: 1;">
        <button class="btn btn-danger" id="terminate_viewer" style="display: none;" (click)="exitFullScreen()">END</button>
      </div>
      
	  <video  id="video"  playsinline="true" [style.background]="bgcolor" src="../../../assets/video/Ace Combat Infinity - History Lessons.mp4"></video>
      <video  id="video2" playsinline="true" [style.background]="bgcolor"></video>
      

      <div class="captioned-default " [ngClass]="[captioned_line,captioned_width]" id="captioned" [style.color]="color" [style.font-size.px]="size" [style.font-family]="fontStyle">-------------------------------------------------------------------------------------------------------------------------------------------</div>
 
	 <div class="w3_display_bottomright" id="option-video-mode" style="right: 3%; bottom: 3%; display: none;">
        <div class="w3-row  ">
          <select class="w3-hide-small" id="viewerMode2" style="display: none;" [(ngModel)]="mode" (ngModelChange)="setMode(mode)">
            <option value="video-text">ภาพเคลื่อนไหวเสียงและคำบรรยาย</option>
            <option value="text-only">คำบรรยาย</option>
          </select>
          <input class="w3-hide-small" id="inputFont2" type="text" size="1" maxlength="3" list="size" style="display: none;" [(ngModel)]="size"> 
          <button class="w3-hide-small" id="incFont2" (click)="toIntPlus(size,1)" style="display: none;">A+</button>
          <button class="w3-hide-small" id="decFont2" (click)="toIntMinus(size,1)" style="display: none;">A-</button>
          
        <button class="gallery-button2" id="choice2" style="border: none; cursor: pointer;display: none;" (click)="open_modal()" >ตัวเลือกเพิ่มเติม </button>
          <i class="fa fa-arrows-alt fa-lg" id="fullScreen"  (click)="toFullScreen()"  style="display: inline;"></i>
          <i class="fa fa-compress fa-lg" id="exitFullScreen" (click)="exitFullScreen()" style="display: none;" ></i>  </div>
      </div>
    </section>
  

<!-- OPTIONS MODE MOBILE -->

<div id="m_options"  style="text-align: right; margin-bottom: 1%; background-color: rgb(245, 245, 245);" style="display: none">
      <div class="w3-row">
      <i class="fa fa-floppy-o fa-lg" id="btnSaveText" aria-hidden="true"></i>
      <select id="settingCaptionedLine" [(ngModel)]="CaptionedLine" (ngModelChange)="setCaptionedLine(CaptionedLine)">
        <option value="">จำนวนบรรทัดคำบรรยาย</option>
        <option value="2">2 บรรทัด</option>
        <option value="3">3 บรรทัด</option>
      </select>
      <select id="settingCaptionedWidth" [(ngModel)]="CaptionedWidth" (ngModelChange)="setWidth(CaptionedWidth)">
        <option value="">ความยาวของคำบรรยาย</option>
        <option value="70">70% ของจอ</option>
        <option value="100">100% ของจอ</option>
      </select>
      <select id="viewerMode" [(ngModel)]="mode" (ngModelChange)="setMode(mode)">
        <option value="video-text">ภาพเคลื่อนไหวเสียงและคำบรรยาย</option>
        <option value="text-only">คำบรรยาย</option>
      </select>
      <select id="changeFontFamily" [(ngModel)]="font" (ngModelChange)="setFont(font)" > 
        <option value="FreesiaUPC">FreesiaUPC</option>
        <option value="THNiramitAS">Th Niramit AS</option>
        <option value="AngsanaNew">Angsana New</option>
        <option value="CordiaNew">Cordia New</option>
      </select>
      <button [(colorPicker)]="color" [style.background]="color" [cpDisableInput]=true [cpSaveClickOutside] [cpPosition]="'left'" [cpPositionOffset]="'100%'" style="background: rgb(255, 255, 255);">A</button>
      <button [(colorPicker)]="bgcolor" [style.background]="bgcolor" [cpDisableInput]=true [cpSaveClickOutside] [cpPosition]="'left'" [cpPositionOffset]="'100%'" style="background: rgb(0, 0, 0);">&nbsp;&nbsp;</button>
      <input id="inputFont" type="text" size="1" maxlength="3" list="size" [(ngModel)]="size">
      <datalist id="size">
        <option *ngFor="let size of atextSize" value="{{size}}"></option>
      </datalist>
      <button id="incFont" (click)="toIntPlus(size,1)">A+</button>
      <button id="decFont" (click)="toIntMinus(size,1)">A-</button>
    </div>
</div>
	
<!-- Mobile modal option -->
<div class="modal" id="myModal" style="display: none;">

  <!--   Modal content -->
  <div class="modal-content">
    <header class="modal-header">
      <span class="close" id="close_setting" (click)="close_modal()">×</span>
      <h3 align="left">ตัวเลือกเพิ่มเติม</h3>
    </header>

    <div class="ex-m" id="ex-bg-m" style="position: relative;width: 100%; height: 100px;" [style.background]="caption_bg"  >
      <div id="ex-font-m" [style.color]="color" [style.font-size.px]="size" [style.font-family]="fontStyle"> ตัวอย่างการแสดงผล </div>
    </div>


    <footer class="w3-container">
      <div class="w3-row">
        <div id="size-font-m" style="border: none; cursor: pointer;">ขนาดตัวอักษร</div>

        <button id="incFont" (click)="toIntPlus(size,1)">A+</button>
  <button id="decFont" (click)="toIntMinus(size,1)">A-</button>
      </div>
      <br>

      <div class="w3-row">
        <div id="watch-m" style="border: none; cursor: pointer;">การรับชม</div>
        <select id="viewerMode" [(ngModel)]="mode" (ngModelChange)="setMode(mode)">
    <option value="video-text">ภาพเคลื่อนไหวเสียงและคำบรรยาย</option>
    <option value="text-only">คำบรรยาย</option>
  </select>
      </div>
      <br>


      <div class="w3-row">
        <div id="font-m" style="border: none; cursor: pointer;">ตัวอักษร</div>
          <select id="changeFontFamily" [(ngModel)]="font" (ngModelChange)="setFont(font)" > 
        <option value="FreesiaUPC">FreesiaUPC</option>
      <option value="THNiramitAS">Th Niramit AS</option>
      <option value="AngsanaNew">Angsana New</option>
      <option value="CordiaNew">Cordia New</option>
    </select>

      </div>

      <br>


      <div class="w3-row">
        <div id="font-color-m" style="border: none; cursor: pointer;">สีอักษร</div>
  <button [(colorPicker)]="color" [style.background]="color" [cpDisableInput]=true [cpSaveClickOutside] [cpPosition]="'left'" [cpPositionOffset]="'100%'" style="background: rgb(255, 255, 255);">&nbsp;&nbsp;</button>
      </div>

      <br>

      <div class="w3-row">
        <div id="bgcolor-m" style="border: none; cursor: pointer;">สีพื้นหลัง</div>
        <button [(colorPicker)]="bgcolor" [style.background]="bgcolor" [cpDisableInput]=true [cpSaveClickOutside] [cpPosition]="'left'" [cpPositionOffset]="'100%'" style="background: rgb(0, 0, 0);">&nbsp;&nbsp;</button>

      </div>
      <br>

      <div class="w3-row">
        <button class="w3-button w3-black" id="btnSaveText" style="border: none;cursor: pointer;font-size:18px;">save text</button>
      </div>
      <br>
    </footer>
  </div>

</div>

  <!-- Description -->
  
  <div id="description" class="w3-container">{{description}}</div>
  <!-- print log error -->
  <div id="errorLog" class="w3-container"></div>
</div>


