  
  <a *ngIf="!isMobile">
  <!-- Menu -->
  <nav class="w3-sidenav w3-red w3-animate-left w3-collapse w3-top w3-large" id="mySidenav">
    <div class="w3-container w3-padding-16">
      <i (click)="w3_close()" class="fa fa-remove w3-hide-large w3-closebtn w3-hover-text-red"></i>
      <div style="text-align: center;">
        <h3>
          <a href="index.html" style="background: no-repeat;">TRANSCRIPTION</a>
        </h3>
           <input (keyup)="onKeyUp($event)" id="searchRooms" class="w3-input w3-border" type="text" placeholder="ค้นหาห้อง...">
      </div>
    </div>
    <ul id="menuViewer">
      <li *ngFor="let data of rooms ;let i = index" (click)='getData(data.id)' class="listrooms" style="cursor: pointer;">
        <a>
        {{data.title}} <br>
        <font size="1"><!-- {{Stime[i][0]}} <br>-->  {{Stime[i][1]}} {{start_period[i]}} - {{Etime[i][1]}} {{end_period[i]}}</font> 
        <div [style.color]="status_color" style="font-size: 13px; ">
            {{status[i]}}
            <br>
            {{time_status[i]}}
        </div>
        </a>
        
      </li>
     

    </ul>
    
    <ul *ngIf="noConnection" id="menuViewer">
      <h1>
        <b>อุปส์!</b>
      </h1>
      <p>เกิดข้อผิดพลาดระหว่างการเชื่อมต่อ โปรดลองใหม่อีกครั้ง</p>
      <button id="reconnectRooms">ลองใหม่</button>  
  </ul>


    <ul *ngIf="!rooms" id="menuViewer">
        <!-- Not found Rooms -->
            <h4 style="text-align: center">ไม่พบข้อมูล</h4>   
    </ul>
  </nav>
  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding" style="z-index:3;">
    <a class="w3-btn w3-red w3-border w3-border-white w3-margin-right" (click)="w3_open()">☰</a>
    <span>TRANSCRIPTION</span>
  </header>

  <!-- Overlay effect when opening sidenav on small screens -->
  <div class="w3-overlay w3-hide-large" (click)="w3_close()" title="close side menu" id="myOverlay"></div>

  
  <router-outlet></router-outlet>


</a>


<!-- Menu -->
<a *ngIf="isMobile">
  <nav class="mw3-sidenav w3-red w3-animate-left w3-collapse w3-top w3-large" id="mySidenav" style="width: 100%; font-weight: bold; display: block; z-index: 3;">
    <div class="w3-container w3-padding-16">
     
      <div style="text-align: center;">
        <h3>
          <a href="index.html" style="background: no-repeat;">TRANSCRIPTION</a>
        </h3>
       
        <input (keyup)="onKeyUp($event)" id="searchRooms" class="w3-input w3-border" type="text" placeholder="ค้นหาห้อง...">
        </div>
    </div>
    <ul *ngFor="let data of rooms ;let i = index"  id="menuViewer">
      <li (click)='getData(data.id);w3_close()' class="listrooms" style="cursor: pointer;">
        <a>
        {{data.title}} <br>
        <font size="1"><!-- {{Stime[i][0]}} <br>-->  {{Stime[i][1]}} {{start_period[i]}} - {{Etime[i][1]}} {{end_period[i]}}</font> 
        <div [style.color]="status_color" style="font-size: 13px; ">
            {{status[i]}}
            <br>
            {{time_status[i]}}
        </div>
        </a>
        
      </li>
     

    </ul>
    
    <ul *ngIf="!rooms" id="menuViewer">
      <!-- Not found Rooms -->
          <h4 style="text-align: center">ไม่พบข้อมูล</h4>   
  </ul>
  </nav>
<!-- Top menu on small screens -->



<router-outlet></router-outlet>

</a>