
<div class="sidenav">
   

  
      <input [(ngModel)]="searchText" placeholder="enter search term here">
  
  
  <div *ngFor="let data of rooms | filter : {title: searchText} ;let i = index" class="rooms">
    <div  (click)='getData(data.id)' >

    {{data.title}} <br>{{Stime[i][0]}} <br>{{Stime[i][1]}} - {{Etime[i][1]}} <br> <a [style.color]="status_color">{{status[i]}} <br> 
      
        {{time_status[i]}}

      </a>
    </div>
    <hr>
  </div>


</div>

<div class="main">
  
  <router-outlet></router-outlet>  

</div>


<div class="sidenav">
   
    <ul>
        <li>
          <input [(ngModel)]="searchText" placeholder="enter search term here">
        </li>
      
      <li *ngFor="let data of rooms | filter : {title: searchText} ;let i = index">
        <div  (click)='getData(data.id)' >
    
        {{data.title}} <br>{{Stime[i][0]}} <br>{{Stime[i][1]}} - {{Etime[i][1]}} <br> <a [style.color]="status_color">{{status[i]}} <br> 
          
            {{time_status[i]}}
    
          </a>
        </div>
        <hr>
      </li>
    </ul>
    
    </div>
    
    <div class="main">
      
      <router-outlet></router-outlet>  
    
    </div>